:root{
    --cor-primaria:#335C67;
    --cor-secundaria:#540B0E;
    --cor-complementar:#FFF3B0;
    --cor-escura:#161925;
    --cor-clara:#FFF4E9;
    --borda-1:#D66853;
    --borda-2:#11151C;
    --borda-3:#E2294F;
    --borda-4:#669BBC;
    --borda-5:#CEC075;
}